<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HasanPortfolio</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HasanPortfolio.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-white font-mono">
    <div class="max-w-5xl mx-auto px-6">
        @RenderBody()
    </div>

    <script src="~/js/app.js"></script>
</body>
</html>
